@charset 'UTF-8';

body {
  background-color: #fff;
}
/* header */

.head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 33;
  padding: 0 3rem;
  width: 100%;
  height: 12rem;
  background-color: transparent;
  mix-blend-mode: difference;
  color: rgb(255, 255, 255);
  transition: 300ms ease-in-out;
}
.head-wrap .logo-wrap {
  width: 8rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
    brightness(103%) contrast(105%);
  margin-top: 0.4rem;
}
.head-wrap .logo-wrap img {
  transition: transform 300ms ease-in-out;
}
.head-wrap .logo-wrap img:hover {
  transform: rotate(359deg);
}
.head-wrap .right-menu {
  display: flex;
  align-items: center;
}
.head-wrap .right-menu .time {
  width: 21rem;
  margin-top: 0.4rem;
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.head-wrap .right-menu .time span {
  font-weight: 700;
}
.head-wrap .right-menu .gnb-btn {
  height: 2rem;
  width: 3rem;
  position: relative;
}
.head-wrap .right-menu .gnb-btn.is-active {
  z-index: 30;
}
.head-wrap .right-menu .gnb-btn.is-active span {
  background: #ccc;
}
.head-wrap .right-menu .gnb-btn.is-active span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
  transition: 0.3s;
}
.head-wrap .right-menu .gnb-btn.is-active span:nth-of-type(2) {
  display: none;
}
.head-wrap .right-menu .gnb-btn.is-active span:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.head-wrap .right-menu .gnb-btn:hover span:nth-of-type(1) {
  transform: translate3d(20%, 0, 0);
  transition: 0.3s;
}
.head-wrap .right-menu .gnb-btn:hover span:nth-of-type(3) {
  transform: translate3d(-20%, 0, 0);
  transition: 0.3s;
}
.head-wrap .right-menu .gnb-btn span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #fff;
}
.head-wrap .right-menu .gnb-btn span:nth-of-type(1) {
  position: absolute;
  top: 0%;
  left: 0;
  transition: 0.3s;
}
.head-wrap .right-menu .gnb-btn span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 0;
}
.head-wrap .right-menu .gnb-btn span:nth-of-type(3) {
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .head-wrap {
    height: 6rem;
    padding: 0 1.5rem;
  }
  .head-wrap .logo-wrap {
    width: 6rem;
  }
  .head-wrap .right-menu .time {
    display: none;
  }
  .head-wrap .right-menu .gnb-btn {
    height: 1.5rem;
    width: 2.5rem;
  }
  .head-wrap .right-menu .gnb-btn span {
    height: 0.3rem;
  }
}
/* intro-wrap */
.intro-wrap {
  width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 2rem;
}
.intro-wrap .intro-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro-wrap .intro-area .ani-text {
  font-family: "iceJaram-Rg";
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #000;
  gap: 2rem;
}
.intro-wrap .intro-area .ani-text h2 {
  line-height: normal;
}
.intro-wrap .intro-area .ani-text h2:nth-of-type(3) {
  color: #f7c749;
}
.intro-wrap .intro-area .arrow-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.intro-wrap .intro-area .arrow-btn span {
  color: #000;
}
.intro-wrap button {
  width: 6rem;
  height: 6rem;
  border: 2px solid #000;
  border-radius: 50%;
}
.intro-wrap .arrow-btn:hover {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transition: 0.3s;
}
.intro-wrap button i {
  color: #000;
  font-size: 3rem;
}

@media screen and (max-width: 721px) {
  .intro-wrap .intro-area .ani-text {
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    gap: 0;
    padding: 0 3rem;
  }
  .intro-wrap .intro-area .arrow-btn {
    bottom: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .intro-wrap button {
    width: 4rem;
    height: 4rem;
  }
  .intro-wrap button i {
    font-size: 2rem;
  }
}
/* intro-bottom-wrap */
.intro-bottom-wrap {
  padding: 9rem 3rem;
}

.intro-bottom-wrap h4 {
  font-size: 3.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 5rem;
  word-break: keep-all;
}
[data-ani-fade-in] {
  opacity: 0;
}

[data-ani-fade-in="play"] {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1023px) {
  .intro-bottom-wrap p {
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 877px) {
  .intro-bottom-wrap h4 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .intro-bottom-wrap {
    padding: 4rem 1rem;
  }
  .intro-bottom-wrap p {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .intro-bottom-wrap {
    padding: 0 1rem 4rem;
  }
  .intro-bottom-wrap h4 {
    font-size: 1.6rem;
    line-height: inherit;
  }
  .intro-bottom-wrap p {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 392px) {
  .intro-bottom-wrap h4 {
    font-size: 1.4rem;
  }
}
/* about-wrap */

.about-wrap {
  position: relative;
  padding: 11rem;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff35;
}
.about-wrap .about-area {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 110rem;
  height: 100%;
}
.about-wrap .about-area .img-slider-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 36rem;
  min-width: 36rem;
  height: 100%;
}
.about-wrap .about-area .img-slider-carousel .img-slider {
  width: 100%;
  box-shadow: 0.5rem 0.5rem rgb(255, 255, 255);
}
.about-wrap .about-area .img-slider-carousel .img-slider .img-list {
  display: flex;
  width: 100%;
  height: 50rem;
}
.about-wrap .about-area .img-slider-carousel .img-slider .img-list .img-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-wrap
  .about-area
  .img-slider-carousel
  .img-slider
  .img-list
  .img-item
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-wrap .about-area .img-slider-carousel .img-slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.about-wrap .about-area .img-slider-carousel .img-slider-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about-wrap
  .about-area
  .img-slider-carousel
  .img-slider-nav
  .nav-list
  .nav-item.tns-nav-active
  button {
  background-color: #f77171;
  width: 1.2rem;
  height: 1.2rem;
}

.about-wrap
  .about-area
  .img-slider-carousel
  .img-slider-nav
  .nav-list
  .nav-item
  button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  transition: background-color 300ms ease-in-out, width 300ms ease-in-out,
    height 300ms ease-in-out;
}

.about-wrap
  .about-area
  .img-slider-carousel
  .img-slider-nav
  .nav-list
  button
  img {
  display: none;
}
.about-wrap .about-area .intro {
  padding-left: 7rem;
  display: flex;
  color: #fff;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  word-break: keep-all;
  z-index: 1;
}

.about-wrap .about-area .intro .about {
  font-size: clamp(2.4rem, 2.6vw, 2.8rem);
  line-height: 3.7rem;
  font-weight: 800;
  word-break: keep-all;
  line-height: normal;
  margin-bottom: 2rem;
}
.about-wrap .about-area .intro .about span {
  color: #f77171;
}
.about-wrap .about-area .intro .about-text {
  margin-top: 2.3rem;
  font-size: clamp(1.6rem, 1.4vw, 1.8rem);
  color: #ddd;
}
.about-wrap .about-area .intro .about-text span {
  color: #f77171;
  font-weight: 700;
}
.about-wrap .about-area .intro .profile {
  margin-top: 2.3rem;
  margin-bottom: 2rem;
}
.about-wrap .about-area .intro .profile-list {
  font-size: 1.8rem;
  line-height: 1rem;
}
.about-wrap .about-area .intro .profile-list .profile-item {
  display: flex;
  align-items: center;
}
.about-wrap .about-area .intro .profile-list li + li {
  margin-top: 1rem;
}
.about-wrap .about-area .intro .profile-list img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.about-wrap .about-wrap-title {
  font-family: "iceJaram-Rg";
  position: absolute;
  top: 5rem;
  font-size: 10rem;
  right: 8rem;
  color: #f77171;
  opacity: 0.4;
}
@media screen and (max-width: 1023px) {
  .about-wrap {
    padding: 11rem 3rem;
  }
  .about-wrap .about-area .intro .profile {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .about-wrap .about-area .intro .profile-list li + li {
    margin-top: 0.5rem;
  }
  .about-wrap .about-area .intro .about-text {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 810px) {
  .about-wrap .about-area .intro .about-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about-wrap {
    padding: 7rem 3rem;
    height: auto;
  }
  .about-wrap .about-area {
    flex-direction: column;
    align-items: start;
  }
  .about-wrap .about-area .intro .about {
    font-size: 2rem;
  }
  .about-wrap .about-area .intro .profile {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .about-wrap .about-area .intro .profile-list {
    font-size: 1.6rem;
  }
  .about-wrap .about-area .intro {
    margin-top: 4.8rem;
    padding-left: 0;
  }
  .about-wrap .about-wrap-title {
    display: none;
  }
  .about-wrap .about-area .intro .about-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  .about-wrap {
    padding: 4rem 2rem;
  }
  .about-wrap .about-area {
    flex-direction: column;
    align-items: center;
  }
  .about-wrap .about-area .img-slider-carousel {
    width: 100%;
  }
  .about-wrap .about-area .img-slider-carousel .img-slider-nav {
    display: none;
  }
  .about-wrap .about-area .img-slider-carousel .img-slider {
    box-shadow: 0rem 0cqh rgba(255, 255, 255, 0);
  }
}
/* technical-stack-wrap */
.technical-stack-wrap {
  position: relative;
  padding: 11rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  border-bottom: 1px solid #ffffff35;
}
.technical-stack-wrap .technical-stack-wrap-title {
  font-family: "iceJaram-Rg";
  position: absolute;
  top: 5rem;
  font-size: 10rem;
  left: 8rem;
  color: #35af60;
  opacity: 0.4;
}
.technical-stack-wrap .technical-stack-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 110rem;
  height: 100%;
}
.technical-stack-wrap .technical-stack-area .icon-animation {
  display: flex;
  position: relative;
  gap: 2rem;
  margin-bottom: 6rem;
}

.technical-stack-wrap .technical-stack-area .icon-animation .icon-bg {
  display: flex;
  align-items: end;
  width: 12rem;
  height: 12rem;
}
.technical-stack-wrap .technical-stack-area .icon-animation .icon-bg img {
  transition: all 300ms ease-in-out;
}
.technical-stack-wrap .technical-stack-area .icon-animation .icon-bg:hover img {
  margin-bottom: 2rem;
}

.technical-stack-wrap .technical-stack-area .text-wrap {
  z-index: 1;
  display: flex;
  justify-content: center;
  word-break: keep-all;
}

.technical-stack-wrap .technical-stack-area .text-wrap h4 {
  display: flex;
  align-items: baseline;
  font-size: 2.8rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
}
.technical-stack-wrap .technical-stack-area .text-wrap h4 span {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 0.8rem;
  color: #ddd;
}
.technical-stack-wrap .technical-stack-area .text-wrap img {
  width: 2rem;
  height: 2rem;
}
.technical-stack-wrap .technical-stack-area .text-wrap .lisence .lisence-item {
  display: flex;
  align-items: center;
  font-size: clamp(1.6rem, 1.4vw, 1.8rem);
  color: #ddd;
}
.technical-stack-wrap
  .technical-stack-area
  .text-wrap
  .lisence
  .lisence-item
  img {
  width: 1rem;
  height: 1rem;
  filter: invert(51%) sepia(86%) saturate(344%) hue-rotate(89deg)
    brightness(95%) contrast(90%);
  margin-right: 1rem;
}

.technical-stack-wrap .technical-stack-area .text-wrap .career {
  margin-top: 3rem;
}

.technical-stack-wrap .technical-stack-area .text-wrap .career .career-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #ddd;
}
.technical-stack-wrap
  .technical-stack-area
  .text-wrap
  .career
  .career-item
  img {
  width: 1rem;
  height: 1rem;
  filter: invert(51%) sepia(86%) saturate(344%) hue-rotate(89deg)
    brightness(95%) contrast(90%);
  margin-right: 1rem;
}

.technical-stack-wrap .technical-stack-area .text-wrap .career .company-name {
  font-size: clamp(1.6rem, 1.4vw, 1.8rem);
}
.technical-stack-wrap
  .technical-stack-area
  .text-wrap
  .career
  li
  .company-date {
  margin-left: 0.5rem;
  font-size: clamp(1.5rem, 1.4vw, 1.7rem);
}
.stack {
  padding-left: 7rem;
}
.stack .stack-list {
  color: #ddd;
}
.stack .stack-list .stack-item {
  display: flex;
  align-items: center;
  font-size: clamp(1.6rem, 1.4vw, 1.8rem);
}
.stack .stack-list .stack-item img {
  width: 1rem;
  height: 1rem;
  filter: invert(51%) sepia(86%) saturate(344%) hue-rotate(89deg)
    brightness(95%) contrast(90%);
  margin-right: 1rem;
}
@media screen and (max-width: 1158px) {
  .technical-stack-wrap .technical-stack-area .icon-animation .icon-bg {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 1063px) {
  .technical-stack-wrap .technical-stack-area .icon-animation .icon-bg {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 1023px) {
  .technical-stack-wrap {
    padding: 11rem 3rem;
  }
}
@media screen and (max-width: 835px) {
  .technical-stack-wrap .technical-stack-area .icon-animation .icon-bg {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .technical-stack-wrap {
    padding: 7rem 3rem;
    height: auto;
  }
  .technical-stack-wrap .technical-stack-wrap-title {
    display: none;
  }
  .technical-stack-wrap .technical-stack-area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .technical-stack-wrap .technical-stack-area .icon-animation {
    flex-direction: row;
    width: 100%;
    padding-right: 0;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .technical-stack-wrap .technical-stack-area .icon-animation .icon-bg {
    width: 6rem;
    height: 6rem;
  }

  .technical-stack-wrap .technical-stack-area .text-wrap {
    flex-direction: column;
  }

  .technical-stack-wrap
    .technical-stack-area
    .text-wrap
    .lisence
    .lisence-item {
    font-size: 1.3rem;
  }
  .technical-stack-wrap .technical-stack-area .text-wrap .career .company-name {
    font-size: 1.3rem;
  }
  .technical-stack-wrap .technical-stack-area .text-wrap .career .career-item {
    font-size: 1.2rem;
  }
  .stack {
    padding-left: 0;
    margin-top: 3rem;
  }
  .stack .stack-list .stack-item {
    font-size: 1.3rem;
  }
  .technical-stack-wrap
    .technical-stack-area
    .icon-animation
    .icon-bg:hover
    img {
    margin-bottom: 1rem;
  }
}
/* project-wrap */

.project-wrap {
  position: relative;
  background-color: #202020;
  color: #fff;
  width: 100%;
  padding: 11rem;
  position: relative;
}
.project-wrap .project-wrap-title {
  font-family: "iceJaram-Rg";
  position: absolute;
  top: 5rem;
  font-size: 10rem;
  right: 8rem;
  color: #f77171;
  opacity: 0.4;
}
.project-wrap .project-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-wrap .project-area .text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.project-wrap .project-area .text-area .info-area h3 {
  font-size: 2.8rem;
  margin-bottom: 3.6rem;
  font-weight: 600;
  line-height: 1rem;
  color: #ffbecf;
}

.project-wrap .project-area .text-area .info-area p {
  font-size: 1.6rem;
  color: #ddd;
  word-break: keep-all;
}

.project-wrap .project-area .project-img {
  padding-top: 12rem;
}
.project-wrap .project-area .project-img .text-wrap {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 10 !important;
}
.project-wrap .project-area .project-img .text-wrap .text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.project-wrap .project-area .project-img .text-wrap .title {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.project-wrap .project-area .project-img .text-wrap .title img {
  filter: invert(84%) sepia(6%) saturate(2589%) hue-rotate(301deg)
    brightness(100%) contrast(104%);
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  margin-right: 0.4rem;
}
.project-wrap .project-area .project-img .text-wrap .title span {
  font-weight: 600;
  font-size: 1.8rem;
}

.project-wrap .project-area .project-img .text-wrap .info {
  font-size: 1.4rem;
}
.project-wrap .project-area .project-img .project-top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-wrap .project-area .project-img .view-btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border: 1px solid #fff;
  font-size: 1.2rem;
  overflow: hidden;
  z-index: 0;
  border-radius: 1rem;
}
.project-wrap .project-area .project-img .view-btn:hover {
  color: #000;
  border: 1px solid #ffbecf;
}
.project-wrap .project-area .project-img .view-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ffbecf;
  width: 120%;
  height: 120%;
  z-index: -1;
  transition: transform 0.25s ease-out;
  transform: translate(-100%, -50%) skew(0deg);
  opacity: 1;
}
.project-wrap .project-area .project-img .view-btn:hover::after {
  transform: translate(-10%, -50%);
  opacity: 1;
}
.netflix {
  padding-top: 15rem;
  flex: 0 0 auto;
  width: 27%;
  margin-left: 7rem;
}
.netflix .project-box .img-wrap {
  width: 100%;
  height: 40rem;
  border-radius: 0.4rem;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out, background-position 5s ease-in-out;
  background-image: url(../image/netflix-mobile.png);
  background-size: cover;
  background-position: top;
}
.netflix .project-box .img-wrap:hover {
  background-position: bottom;
}
.project-box .img-wrap:hover {
  box-shadow: 0.5rem 0.5rem #ff94b1;
}
.netflix .project-box:hover > .text-wrap {
  opacity: 1;
  transition: 0.3s ease;
}

.netflix img {
  transform: scale(1);
  transition: 0.3s ease;
}
.ohouse {
  flex: 0 0 auto;
  width: 50%;
  margin-left: 7rem;
}
.ohouse .project-box .img-wrap {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  border-radius: 0.4rem;
  transition: box-shadow 300ms ease-in-out, background-position 5s ease-in-out;
  background-image: url(../image/ohouse.png);
  background-size: cover;
  background-position: top;
}

.ohouse .project-box .img-wrap:hover {
  background-position: bottom;
}

.ohouse .project-box:hover > .text-wrap {
  opacity: 1;
  transition: 0.3s ease;
}
.ohouse img {
  transform: scale(1);
  transition: 0.3s ease;
}

.project-wrap .project-area .project-img .project-mid {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}
.project-wrap .project-area .project-img .project-mid .padding {
  flex: 0 0 auto;
  width: 8.3333%;
}
.millet {
  flex: 0 0 auto;
  width: 33.3%;
  display: flex;
  align-items: center;
  margin-left: 9rem;
}
.millet .project-box .img-wrap {
  width: 100%;
  height: 35rem;
  overflow: hidden;
  border-radius: 0.4rem;
  transition: box-shadow 300ms ease-in-out, background-position 5s ease-in-out;
  background-image: url(../image/millet.png);
  background-size: cover;
  background-position: top;
}
.millet .project-box .img-wrap:hover {
  background-position: bottom;
}
.millet .project-box:hover > .text-wrap {
  opacity: 1;
  transition: 0.3s ease;
}
.millet img {
  transform: scale(1);
  transition: 0.3s ease;
  width: 100%;
  height: auto;
}

.iqos {
  flex: 0 0 auto;
  width: 33.3%;
  margin-left: 8rem;
}
.iqos .project-box .img-wrap {
  width: 100%;
  height: 55rem;
  border-radius: 0.4rem;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out, background-position 5s ease-in-out;
  background-image: url(../image/iqos.png);
  background-size: cover;
  background-position: top;
}
.iqos .project-box .img-wrap:hover {
  background-position: bottom;
}
.iqos .img-wrap .img {
  transition: 0.3s ease;
  width: 100%;
  height: auto;
}

.iqos .project-box:hover > .text-wrap {
  opacity: 1;
  transition: 0.3s ease;
}
.project-wrap .project-area .project-img .project-bottom {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
}
.tamburins {
  width: 50%;
  margin: 0 auto;
}
.tamburins .project-box {
  width: 100%;
}
.tamburins .img {
  background-color: #efefef;
  transform: scale(1);
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  padding: 24rem;
}
.tamburins .project-box .img-wrap {
  width: 100%;
  height: 55rem;
  border-radius: 0.4rem;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out, background-position 5s ease-in-out;
  background-image: url(../image/tamburins.png);
  background-size: cover;
  background-position: top;
}
.tamburins .project-box .img-wrap:hover {
  background-position: bottom;
}
.tamburins .project-box:hover > .text-wrap {
  opacity: 1;
  transition: 0.3s ease;
}

@media screen and (max-width: 767px) {
  .project-wrap {
    padding: 7rem 3rem;
    height: auto;
  }
  .project-wrap .project-wrap-title {
    display: none;
  }
  .project-wrap .project-area .text-area .info-area h3 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  .project-wrap .project-area .text-area .info-area p {
    font-size: 1.3rem;
  }
  .project-wrap .project-area .project-img {
    padding-top: 4rem;
  }
  .project-wrap .project-area .project-img .project-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .netflix {
    width: 41%;
    margin-left: 0;
    padding-top: 0;
    width: 100%;
  }

  .project-wrap .project-area .project-img .project-mid {
    margin-top: 7rem;
  }
  .iqos {
    width: 42%;
    margin-left: 0;
  }
  .millet {
    width: 41%;
    margin-left: 0;
  }
  .project-wrap .project-area .project-img .project-bottom {
    margin-top: 7rem;
  }

  .project-img .project-top {
    display: flex;
    flex-direction: column;
  }

  .ohouse {
    width: 100%;
    margin-top: 4rem;
    margin-left: 0;
  }
  .ohouse .project-box .img-wrap {
    height: 40rem;
  }
  .millet .project-box .img-wrap {
    height: 40rem;
  }

  .project-img .project-mid {
    display: flex;
    flex-direction: column;
  }
  .project-wrap .project-area .project-img .project-mid {
    margin: 0;
  }
  .millet {
    width: 100%;
    margin-top: 4rem;
  }
  .millet .project-box {
    width: 100%;
  }
  .iqos {
    width: 100%;
    margin-top: 4rem;
  }
  .iqos .project-box .img-wrap {
    height: 40rem;
  }
  .project-wrap .project-area .project-img .project-bottom {
    margin-top: 0;
  }
  .tamburins {
    width: 100%;
    margin-top: 4rem;
  }
  .tamburins .project-box .img-wrap {
    height: 40rem;
  }
}
/* contact-wrap */
.contact-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 11rem;
  width: 100%;
  height: 100vh;
  color: #000;
  border-bottom: 1px solid #000;
}
.contact-wrap .contact-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.contact-wrap .contact-area p {
  font-size: 11rem;
  text-align: center;
  line-height: normal;
}
.contact-wrap .contact-area .contact-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 4rem;
  overflow: hidden;
}
.contact-wrap .contact-area .contact-btn {
  padding: 2rem 4rem;
  overflow: hidden;
  font-size: 2.3rem;
  z-index: 0;
}
.contact-wrap .contact-area .contact-btn:hover {
  color: #fff;
}
.contact-wrap .contact-area .contact-btn:hover::before {
  right: 0;
}

.contact-wrap .contact-area .contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #f7c749;
  z-index: -1;
  transition-property: right;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.contact-container {
  background-color: rgb(255, 255, 255);
  padding: 11rem;
  width: 100%;
}
.contact-container .contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-container .contact-header h1 {
  font-family: "iceJaram-Rg";
  font-size: 13rem;
  line-height: normal;
}
.contact-container .contact-header .contact-form-btn-wrap {
  display: flex;
  align-items: center;
}
.contact-container .contact-header .contact-form-btn-wrap span {
  font-size: 2.3rem;
  margin-right: 2rem;
}
.contact-container .contact-header .contact-form-btn-wrap .contact-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1.5px solid #000;
  overflow: hidden;
  position: relative;
}
.contact-container
  .contact-header
  .contact-form-btn-wrap
  .contact-form-btn::before {
  content: "";
  background: transparent;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: translate3d(0, 100%, 0);
  transition: all 0.3s ease 0s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
}
.contact-container
  .contact-header
  .contact-form-btn-wrap
  .contact-form-btn:hover::before {
  background: #f7c749;
  transform: translate3d(0, 0, 0);
}
.contact-container
  .contact-header
  .contact-form-btn-wrap
  .contact-form-btn:hover
  i {
  color: #fff;
  z-index: 3;
}
.contact-container .contact-header .contact-form-btn-wrap .contact-form-btn i {
  font-size: 3rem;
}

.keyword-wrap {
  padding: 5rem 0;
  width: 100%;
  display: block;
  transition: opacity 1s;
}
.keyword-wrap .keyword-area {
  width: 100%;
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  overflow: hidden;
  height: 45rem;
}
.keyword-wrap .keyword-area::before {
  content: "";
  display: block;
  width: 55%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
}
.keyword-wrap .keyword-area::after {
  content: "";
  display: block;
  width: 55%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(-90deg, #fff, rgba(255, 255, 255, 0));
}
.keyword-wrap .keyword-area .keyword-box:nth-of-type(1) {
  top: 0;
  animation: moveLeft 13s infinite linear;
}
.keyword-wrap .keyword-area .keyword-box:nth-of-type(2) {
  top: 15rem;
  animation: moveLeft 15s infinite linear;
}
.keyword-wrap .keyword-area .keyword-box {
  height: 15rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  position: absolute;
  will-change: transform;
  animation: moveLeft 15s infinite linear;
}
.keyword-wrap .keyword-area .keyword-box .keyword {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 4.8rem;
  font-weight: 700;
  white-space: nowrap;
}
@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.keyword-wrap .keyword-area .keyword-box .keyword .img-wrap {
  width: 20rem;
  height: 10rem;
  min-width: 20rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.keyword-wrap .keyword-area .keyword-box .keyword .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-main {
  padding: 0 11rem 11rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main .contact-main-wrap {
  text-align: center;
}
.contact-main .contact-main-wrap .greeting-text {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.contact-main .contact-main-wrap a {
  position: relative;
}
.contact-main .contact-main-wrap a span {
  font-size: 4.8rem;
  font-weight: 900;
  margin: 1.2rem auto 2.4rem;
  padding-bottom: 0.8rem;
}
.contact-main .contact-main-wrap a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #f7c749;
  top: 0;
  left: 0;
  transition: width 300ms ease-in-out;
  z-index: -10;
}
.contact-main .contact-main-wrap a:hover::before {
  width: 100%;
}
.contact-main .contact-main-wrap .last-text {
  font-size: 1.8rem;
  margin-top: 2rem;
}
@media screen and (max-width: 849px) {
  .contact-container .contact-header {
    flex-direction: column;
    align-items: center;
  }
  .contact-wrap .contact-area p {
    font-size: 9rem;
  }
}
@media screen and (max-width: 767px) {
  .contact-wrap {
    padding: 7rem 3rem;
    height: auto;
  }
  .contact-main .contact-main-wrap a span {
    font-size: 4rem;
  }
  .contact-main .contact-main-wrap .greeting-text {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  .contact-main .contact-main-wrap .last-text {
    font-size: 1.6rem;
    margin-top: 1.6rem;
  }
  .contact-wrap .contact-area p {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 694px) {
  .contact-wrap .contact-area p {
    font-size: 7rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-container {
    padding: 9rem 3rem;
  }
  .contact-container .contact-header h1 {
    font-size: 11rem;
  }
  .contact-wrap .contact-area p {
    font-size: 5rem;
  }
  .contact-main .contact-main-wrap a span {
    font-size: 3rem;
  }
  .contact-main .contact-main-wrap .greeting-text {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }
  .contact-main .contact-main-wrap .last-text {
    font-size: 1.2rem;
    margin-top: 1.3rem;
  }
  .contact-wrap .contact-area .contact-btn {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    margin-top: 0.3rem;
    display: block;
  }
}
/* btn-wrap */
.btn-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 4rem;
  right: 3rem;
  z-index: 20;
}

.btn-wrap .study-btn {
  display: flex;
  flex-direction: column;
}
.btn-wrap .study-btn button + button {
  margin-top: 2rem;
}
.btn-wrap .study-btn button {
  color: #fff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(141, 139, 139, 0.334);
  transition: opacity 300ms ease-in-out;
}
.btn-wrap .study-btn button:hover {
  opacity: 0.7;
}
.btn-wrap .study-btn .github-logo img {
  transform: scale(1.5);
}
.btn-wrap .study-btn .notion-logo img {
  transform: scale(1.1);
}
.bottom-wrap {
  display: none;
}
@media screen and (max-width: 767px) {
  .btn-wrap {
    display: none;
  }
  .bottom-wrap {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    height: 7rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #20202073;
    transition: all 200ms ease-in-out;
    background-color: #202020;
  }
  .bottom-wrap .study-btn-wrap {
    display: flex;
    width: 100%;
  }
  .bottom-wrap .study-btn-wrap button {
    width: 33.333%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-in-out;
  }
  .bottom-wrap .study-btn-wrap button:hover {
    opacity: 0.5;
  }
  .bottom-wrap .study-btn-wrap button img {
    height: 7rem;
  }
  .velog-ic {
    background-color: #20c997;
  }
  .github-ic {
    background-color: #1b1f23;
  }
  .notion-ic {
    background-color: #fff;
  }
  .bottom-wrap .study-btn-wrap button a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .bottom-wrap {
    height: 5rem;
  }
  .bottom-wrap .study-btn-wrap button img {
    height: 5rem;
  }
}
/* go-to-top-btn */
.go-to-top-btn {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 4rem;
  left: 3rem;
  z-index: 20;
  transition: opacity 300ms ease-in-out;
}
.go-to-top-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1.5px solid #202020;
  background-color: #fff;
}
.go-to-top-btn button i {
  font-size: 3rem;
}
@media screen and (max-width: 767px) {
  .go-to-top-btn {
    bottom: 9rem;
  }
}
@media screen and (max-width: 480px) {
  .go-to-top-btn {
    bottom: 7rem;
  }
  .go-to-top-btn button {
    width: 4rem;
    height: 4rem;
  }
  .go-to-top-btn button i {
    font-size: 2rem;
  }
}
/* side-menu */

.side-menu-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 44;
  transition: transform 300ms ease-in-out;
  transform: translate3d(0, -100%, 0);
}
.side-menu-wrap .close-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
.side-menu-wrap .close-btn span {
  font-size: 5rem;
  color: #ccc;
}
.side-menu-wrap.is-active {
  transform: translate3d(0, 0, 0);
}
.side-menu-wrap.is-active .menu-item {
  transform: translate3d(0, 0, 0);
}
.side-menu-wrap .side-menu-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;
}
.side-menu-wrap .menu-list {
  width: 100%;
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-wrap .menu-list .menu-item {
  opacity: 0.5;
  padding: 1rem 0;
  transition: opacity 300ms ease-in-out;
}
.side-menu-wrap .menu-list .menu-item span {
  font-weight: 700;
  font-size: 4.8rem;
  transition: transform 300ms ease-in-out;
}
.side-menu-wrap .menu-list .menu-item:hover {
  opacity: 1;
}

.side-menu-wrap .menu-list .menu-item.about {
  color: #f77171;
  width: 100%;
  text-align: center;
  transform: translate3d(-100%, 100%, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.about {
  color: #f77171;
  width: 100%;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.about:hover {
  transform: scale(1.3);
}
.side-menu-wrap .menu-list .menu-item.technical-stack {
  color: #35af60;
  width: 100%;
  text-align: center;
  transform: translate3d(100%, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.technical-stack {
  color: #35af60;
  width: 100%;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.technical-stack:hover {
  transform: scale(1.3);
}
.side-menu-wrap .menu-list .menu-item.project {
  color: #ffbecf;
  width: 100%;
  text-align: center;
  transform: translate3d(-100%, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.project {
  color: #ffbecf;
  width: 100%;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.project:hover {
  transform: scale(1.3);
}
.side-menu-wrap .menu-list .menu-item.contact {
  color: #f7c749;
  width: 100%;
  text-align: center;
  transform: translate3d(100%, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.contact {
  color: #f7c749;
  width: 100%;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease-in-out;
}
.side-menu-wrap.is-active .menu-list .menu-item.contact:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 767px) {
  .side-menu-wrap .menu-list .menu-item span {
    font-size: 3rem;
    line-height: normal;
  }
}

/* footer-wrap */
footer {
  border: 1px solid #fff;

  width: 100%;
  padding: 8rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrap {
  max-width: 110rem;
}
.footer-wrap .copyright {
  text-align: center;
}
@media screen and (max-width: 767px) {
  footer {
    margin-bottom: 7rem;
  }
}
